absl-py==1.0.0
astor==0.8.1
astropy==4.3.1
astroquery<0.4.6
autograd==1.3
bokeh==2.4.2
brotlipy==0.7.0
certifi==2021.10.8
cycler==0.11.0
eleanor==2.0.4
entrypoints==0.3
fbpca==1.0
fonttools==4.31.2
future==0.18.2
gast==0.2.2
google-pasta==0.2.0
grpcio==1.44.0
h5py==2.10.0
joblib==1.1.0
jupyter==1.0.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyring==23.5.0
kiwisolver==1.4.0
lightkurve==2.0.11
Markdown==3.3.6
matplotlib==3.5.1
memoization==0.4.0
oktopus==0.1.2
opt-einsum==3.3.0
pandas==1.3.5
patsy==0.5.2
photutils==1.3.0
Pillow==9.0.1
protobuf==3.19.4
pyerfa==2.0.0.1
python-mimeparse==1.6.0
pytz==2021.3
pyvo==1.2.1
PyYAML==6.0
scikit-learn==1.0.2
scipy==1.7.3
tensorboard==1.15.0
tensorflow==1.15.5
tensorflow-estimator==1.15.1
termcolor==1.1.0
tess-point==0.7.1
threadpoolctl==3.1.0
torch==1.11.0
tqdm==4.63.1
uncertainties==3.1.6
webencodings==0.5.1
Werkzeug==2.0.3
wrapt==1.14.0
